.card {
  box-sizing: border-box;
  width: 282px;
  border-radius: 10px;
  padding: 20px;

  background-color: #fff;

  @media (max-width: 1023px) {
    width: 344px;
  }
  @media (max-width: 767px) {
    width: 328px;
  }

  &__img,
  &__name {
    margin-bottom: 20px;
  }

  &__name,
  &__info {
    font-size: 16px;
    line-height: 26px;
  }

  &__img {
    border-radius: 50%;
  }

  &__phone-link,
  &__mail-link {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
  }

  &__name,
  &__mail {
    position: relative;
    cursor: pointer;

    &--tooltip::after {
      position: absolute;
      padding: 3px 16px;
      border-radius: 4px;
      left: 50%;
      transform: translateX(-50%);
      bottom: -35px;
      width: max-content;
      background-color: rgba(0, 0, 0, 0.87);
      color: #fff;
      content: attr(data-tooltip);
      opacity: 0;
      z-index: -1;
    }

    &--tooltip:hover::after {
      content: attr(data-tooltip);
      opacity: 1;
      z-index: 1;
    }
  }

  &__phone {
    cursor: pointer;
  }
}
